
//header
body{
	font-family:'tahoma'!important;
	background: #f4f8fa;
	a{
		text-decoration:none !important;
	}
}
header{
	background:#fff;
	.top-header-1{	
		background:#eee;
		display:none;
		.ul-infor{

			.item{
				display:inline-block;
				margin-right:10px;
			}
		}
	}
	.top-header{
		position: relative;
		.tool-bar-menu{
			position: absolute;
			// display:block;
			top:10px;
			a{
				img{
					width:30px;
				}
			}
		}
		.logo-md{
			text-align:center;
			padding-top:10px;
			a{
				text-align:center;
				.logo-img{
					width:100px;
					margin:auto;
					// display:none;
				}
			}
		}
		.tool-bar-user{
			position: absolute;
			right:0;
			top:10px;
			.group-icon{

				.item{
					display:inline-block;
					position:relative;
					.cart-quatity{
						width:17px;
						height:17px;
						line-height:14px;
						text-align: center;
						border:1px solid red;
						position:absolute;
						border-radius: 50%;
						background:#ed2b73;
						font-size:12px;
						color:#fff;
						left:9px;
					}
					img{
						width:30px;
					}
				}
				.div-login{
					z-index:10000;
					position:absolute;
					width:150px;
					border:1px solid #eee;;
					right:20px;
					top:30px;
					text-align: center;
					display:none;
					background:#fff;	
					a{
						display: block;
						padding: 3px 20px;
						line-height: 1.42857143;
						white-space: nowrap;
						color:#333;
						text-decoration: none;
						background:#fff;
						&:hover{
							background:#eee;
						}

					}
				}
			}
		}
	}

	.chir_frm{
		position: relative;
		margin-top:20px;
		.search-icon{
			position:absolute;
			left:7px;
			color:#ed2b73;
			// line-height:15px;
			transition: all 0.5s;
			top:8px;
		}
		.search-input{
			border-radius: 3px;
			font-size: 14px;
			width: 100%;
			padding-right: 110px;
			padding: 6px 12px;
			padding-left: 40px;
			height: 35px;
			border:1px solid #ed2b73;
		}
		.btn-search{
			border-radius: 0 3px 3px 0;
			border: 1px solid transparent;
			color: #fff;
			height: 35px;
			width: 100px;
			position: absolute;
			right:0;
			top: 0;
			background:#ed2b73;
		}
		.key_sug{
			// font-family: 'brandon_textbold';
			font-family: 'brandon_textregular'!important;
			font-weight: 500;
			color: #888888;
			font-size:14px;
			margin-top:10px;
		}
	}
	.control-2{
		text-align: right;
		display:none;
		.group-icon{
			margin-top:30px;
			.item{
				display:inline-block;
				position:relative;
				margin:5px;
				.cart-quatity{
					width:17px;
					height:17px;
					line-height:14px;
					text-align: center;
					border:1px solid red;
					position:absolute;
					border-radius: 50%;
					background:#ed2b73;
					font-size:12px;
					color:#fff;
					left:15px;
				}
				img{
					width:40px;
				}
			}
		}
		.div-login{
			position:absolute;
			width:150px;
			border:1px solid #eee;;
			right:25px;
			top:80px;
			text-align: center;
			display:none;
			background:#fff;	
			a{
				display: block;
				padding: 3px 20px;
				line-height: 1.42857143;
				white-space: nowrap;
				color:#333;
				text-decoration: none;
				&:hover{
					background:#eee;
				}

			}
		}
	}
	.nav-menu{
		background:#ed2b73;
		height:37px;
		line-height:37px;
		margin-top:20px;
		display:none;
		.ul-menu{
			padding:0px;
			.li-menu{
				display:inline-block;
				height:100%;
				width:100px;
				text-align:center;
				position: relative;

				&:hover{
					.ul-submenu{
						display:block;
					}
				}
				&:active{
					a{
						background:#f6689d;
						color:#fff;

					}
				}
				a{
					color:#fff;
					display:block;
					height:100%;
					text-decoration:none;
					font-size:14px;

				}
				.ul-submenu{
					position: absolute;
					top:37px;
					z-index: 100;
					background: #fff;
					min-width: 240px;
					padding:0px;
					box-shadow: 0 6px 12px rgba(0,0,0,.175);
					border-bottom:2px solid #ed2b73;
					display:none;
					.li-item{
						list-style: none;
						position: relative;
						&:hover{
							.ul-submenu{
								display:block;
							}
						}
						a{
							padding-left:30px;
							background: url('../images/r7.png') no-repeat 10px 17px;
							color:black;
							display: block;
							height: 100%;
							text-decoration: none;
							text-align:left;
							font-size:13px;
							position: relative;
							&:hover{
								color:#f6689d;
							}
							.icon-arow-right{
								position: absolute;
								right:5px;
								top:15px;
							}
						}
						.ul-submenu{
							position: absolute;
							right:-240px;;
							background: #fff;
							min-width: 240px;
							padding:0px;
							box-shadow: 0 6px 12px rgba(0,0,0,.175);
							border-bottom:2px solid #ed2b73;
							top:0px;
							display:none;
						}
					}
				}
			}
		}
	}

	@media screen and(min-width:768px){
		.top-header-1{	
			background:#eee;
			display:none;
			.ul-infor{

				.item{
					display:inline-block;
					margin-right:10px;
				}
			}
		}
		.top-header{
			.tool-bar-menu{
				display:none;
			}
			.logo-md{
				a{
					.logo-img{
						// display:block;
						width:100%;
					}
				}
			}
			.tool-bar-user{
				.group-icon{
					display:none;
					.item{
						.cart-quatity{

						}
					}
				}
			}

		}
		.chir_frm{
			position: relative;
			margin-top:30px;
			.search-icon{
				position:absolute;
				left:7px;
				color:#ed2b73;
				// line-height:15px;

				top:8px;
			}
			.search-input{
				border-radius: 3px;
				font-size: 14px;
				width: 100%;
				padding-right: 110px;
				padding: 6px 12px;
				padding-left: 40px;
				height: 35px;
				border:1px solid #ed2b73;
			}
			.btn-search{
				border-radius: 0 3px 3px 0;
				border: 1px solid transparent;
				color: #fff;
				height: 35px;
				width: 100px;
				position: absolute;
				right:0;
				top: 0;
				background:#ed2b73;
			}
		}
		.control-2{
			display:block;
		}


		.nav-menu{
			display:block;
		}

	}
}
// slider

.slider{
	background:#fff;
	// margin-top:10px;
	display:none;
	height:470px;
	padding-top:10px;
	margin-bottom:40px;
	.menu-left{
		.title{
			width:255px;
			height:40px;
			line-height:40px;
			background:#ed2b73;
			text-align:center;
			font-weight:bold;
			color:#fff;
			font-size:15px;
			.btn-open-mobile{
				line-height: 40px;
				width: 40px;
				height: 40px;
				float: left;
				text-align: center;
				font-size: 17px;
				background: #f6689d;
			}
		}
		.ul-item{
			border:1px solid  #eee;
			font-size:14px;
			line-height:30px;
			width:255px;	
			// border-bottom:1px solid #eee;
			padding:0px;
			// padding-right:10px !important;
			border-bottom:2px solid #ed2b73;
			.item{
				list-style: none;
				border-bottom:1px solid  #eee;
				padding:3px;
				position: relative;
				&:hover{
					.ul-submenu{
						display:block;
					}

				}
				a{
					img{
						// border:1px solid red;
						margin-top:-3px;
						margin-right:10px;
					}
					display:block;
					height:100%;
					// border:1px solid red;
					color:#000;
					text-decoration:none;
					position: relative;
					&:hover{
						color:#ed2b73;
					}
					.icon-arow-right{
						position: absolute;
						right:0px;
						top:7px;
					}
				}
				.ul-submenu{
					position: absolute;
					right:-267px;
					top:0px;
					background:#fff;
					padding:0px;
					border:1px solid #eee;
					z-index:10000;
					display:none;
					border-bottom:2px solid #ed2b73;
					.li-item{

						list-style: none;
						// border:1px solid red;
						padding:3px;
						border-bottom:1px solid #eee;
						// padding:3px;
						a{
							padding-right:5px;
							display:block;
							width:100%;
							height:100%;
						}

					}
					.li-item:last-child{
						border:none;
					}
				}
			}
			.item:last-child{
				border:none;
			}

		}
	}

}
@media screen and(min-width:1024px){
	.slider{
		display:block;
	}
}
.content{
	.title_chir {
		position: relative;
		padding: 0px 5px 0px 0px;
		margin-bottom: 15px;
		font-weight: normal;
		margin-top:20px;
		h2{
			display: inline-block;
			line-height: normal;
			padding-right: 5px;
			position: relative;
			font-weight: normal;
			text-transform: uppercase;
			font-size: 18px;
			border-bottom: 3px solid #ed2b73;
		}
	}
	.banner{
		.div-img{
			width:100%;
			height:250px;
			overflow:hidden;
			a{
				img{
				display:block;
				width:100%;
				}
				&:hover{
					img{
						transition:all 0.5s;
						width:105%;
					}
				}
			}
		}
	}
	.slide-pr{
		background:#fff;
		padding:10px;
		.item{
		// border:1px solid red;
		border:1px solid #c2c2c2;
		&:hover{
			.hidden-item{
				opacity:1;
			}
		}
		.product{
			padding:10px;
			width:100%;
			.image{
				height:196px;
				img{
					width:100%;
					max-height:100%;
				}
				overflow:hidden;
			}
			.title{
				margin-top:10px;
				font-size: 15px;
				line-height: 1.3;
				width: 100%;
				height: 40px;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				display: -webkit-box;
				overflow: hidden;
				a{
					color:#333333;
					&:hover{
							color: #ed2b73;
					}

				}
			}
			.price{
				font-size: 17px;
				color: #ed2b73;
				font-weight:bold;
			}
		}
	}
	}
	.content-left{
		.div-row-left{
			padding-left:15px;
			padding-right:15px;
			.item-x{
				border:1px solid #c2c2c2;
				margin-right:-1px;
				text-align:center;
				padding-top:10px;
				margin-top:-1px;
				// height:
				height:162px;
				background:#fff;
			
				overflow: hidden;
				a{
					color:#333333;

					img{
						max-width:100px;
					}
					&:hover{
									color: #ed2b73;
							}
				}
				.a-title{
					display:block;
					margin-top:10px;
					font-size:12px;
				}
			
			}
		}
			.banner-bottom-left{
				.banner2{
					.div-img{
				width:100%;
				// height:250px;
				overflow:hidden;
				a{
					img{
					display:block;
					width:100%;
					}
					&:hover{
						img{
							transition:all 0.5s;
							width:105%;
						}
					}
				}
			}
				}
			
		}
		
	}
	
	.content-right{
		background:#fff;
		padding-left:30px;
		padding-right:30px;
		padding-bottom:20px;
		.xemthem{
			border-bottom:2px solid #ed2b73;
			margin-left:-30px;
			margin-right:-30px;
			padding-left:15px;
			margin-bottom:20px;

		a{
			font-size:15px;
			color: #ed2b73;
		}
	}
	.product{
		&:hover{
			.hidden-item{
				opacity:1;
			}
		}
			padding:10px;
			width:100%;
			border:1px solid #c2c2c2;
			margin-right:-1px;
			margin-bottom:-1px;
			.image{
				height:196px;
				img{
					width:100%;
					max-height:100%;
				}
				overflow:hidden;
			}
			.title{
				margin-top:10px;
				font-size: 15px;
				line-height: 1.3;
				width: 100%;
				height: 40px;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				display: -webkit-box;
				overflow: hidden;
				a{
					color:#333333;
					&:hover{
							color: #ed2b73;
					}

				}
			}
			.price{
				font-size: 17px;
				color: #ed2b73;
				font-weight:bold;
			}
		}
	}
	
	
	
}

.owl-prev{
	width: 30px;
	height: 50px;
	font-size: 30px !important;
	line-height: 40px;
	text-align: center;
	background: rgba(255,255,255,.8) !important; 
	&:hover{
		background: #ed2b73 !important; 
		color:#fff !important;
	}
	position: absolute;
	top: 50%;
	transition: all .4s ease-in-out 0s;
	left: -70px;
	border: 1px solid #ed2b73;
	color: #ed2b73 !important;
	opacity:0;
}
.owl-next{
	width: 30px;
	height: 50px;
	font-size: 50px;
	line-height: 40px;
	text-align: center;
	background: rgba(255,255,255,.8) !important; 
	&:hover{
		background: #ed2b73 !important; 
		color:#fff !important;
	}

	position: absolute;
	top: 50%;
	transition: all .4s ease-in-out 0s;
	right: -70px;
	border: 1px solid #ed2b73;
	color: #ed2b73 !important;
	font-size: 30px !important;
	opacity:0;
}
.slide{
	&:hover{
			.owl-next{
				opacity:100;
				right:-5px;
			}
			.owl-prev{
				opacity:100;
				left:-5px;
			}
		}
}

.owl-carousel{
	&:hover{
		.owl-next{
			opacity:100;
			right:-5px;
		}
		.owl-prev{
			opacity:100;
			left:-5px;
		}
	}
}
.owl-dots{
	display:none !important;
}
.hidden-item{
	width:100%;
	text-align:center;
	margin:auto;
	width:100%;
	position:absolute;
	top:30%;
	// display:hidden;
	opacity:0;
	 transition: all 0.3s;
	 left:-20px;
	 ul{
	 	width:100%;
	 	text-align:center;
	 }
	.icon-it{
		display:inline-block;
		width:30px;
		height:30px;
		line-height: 30px;
		background:rgba(0,0,0,.8);
		border-radius:50%;
		text-algin:center;
		color:#fff;
		margin:1px;
		transition: all 0.3s;
		
		a{
			color:#fff;
		}
	}
}

// modal css
.modal {
	.modal-title{
		color:#02a556;
		font-size:15px;
		margin:auto;
	}
	.modal-giohang{
	.img-sp{
		width:100%;
	}
	.title{
		a{
			font-size:15px;
			color:#333333;
			&:hover{
				color:#ed2b73;
			}
		}
	}
	.price{
		color:#ed2b73;
		font-weight:bold;
	}
}


}

.item-news{
	border:1px solid #c2c2c2;
	margin-right:-1px;
	margin-bottom:-1px;
	.div-img{
		// border:1px solid red;
		height:100px;
		@media screen and(min-width:1024px){
			height:150px;
		}
		overflow: hidden;
		&:hover{
			img{
				 transform: scale(1.1);
				 transition:all 0.2s;
			}
		}
		img{
			max-width:100%;
		}
	}
	.div-title{
		height:50px;
		overflow: hidden;
		a{
			color:#333333;
			font-size:18px;
			&:hover{
				color:#ed2b73;
			}
		}
	}
	.div-create{
		color:#c2c2c2;
		border-bottom:1px solid #c2c2c2;
		font-size:14px;
	}
	.short-dest{
		color:#333333;
		font-size:13px;
	}
	.div-comment{
		font-size:13px;
		.fa{
			color:#ed2b73;		
		}
	}
}
.footer{
	background:#fff;
	.footer1{
	margin-top:20px;
	.list-ct{
		background:#fff;
		padding:20px;
		.item-ct{
		.icon-ft{
			font-size:20px;
			color:#ed2b73;	
		}
		.ct-right{
			.title{
				font-size:12px;
				color:#ed2b73;
				font-weight:bold;
			}
			.nd{
				font-size:10px;
			}
		}

	}
	}
	
	@media screen and(min-width:1024px){
			.item-ct{
		.icon-ft{
			font-size:30px;
			color:#ed2b73;	
		}
		.ct-right{
			.title{
				font-size:15px;
				color:#ed2b73;
				font-weight:bold;
			}
			.nd{
				font-size:12px;
			}
		}

	}
		}

}
.footer2{
	background:#E6E6E6;
	padding-top:20px;
	padding-bottom:20px;
	.ft2-left{
		border-right:1px solid #fff;
		.logo{
		img{
			max-width:100%;
			display:block;
			margin:auto;
		}
	}
	.des{
		p{
			color:#888888;
			font-size:12px;
		}
	}
	}
	.ft2-right{
		.ft2r-item{
			// border:1px solid red;
			text-align:lefts;
			.title{
				border-bottom:1px dotted #fff;
			h4{
				font-size:15px;
				color:#888888;
				text-transform: uppercase;
			}
		}
		.des{
			ul{
				padding:0px;
				li{
					list-style:none;
					a{
						color:#333333;
						font-size:14px;
						&:hover{
							color:#ed2b73;
						}
					}
				}
			}
		}

		}
		
	}
	
}
.footer3{
	padding-top:20px;
	padding-bottom:20px;
	.ft3-r{
		.imgage{
			img{
				max-width:100%;
			}
		}
	}
	.ft3-m{
		text-align:lefts;
			.title{
				border-bottom:1px dotted #888888;
			h4{
				font-size:15px;
				color:#888888;
				text-transform: uppercase;
			}
		}
		.des{
			ul{
				padding:0px;
				li{
					list-style:none;
					
						color:#333333;
						font-size:14px;
						
					
				}
			}
		}
	}
	.ft3-r{
		.title{
				border-bottom:1px dotted #888888;
			h4{
				font-size:15px;
				color:#888888;
				text-transform: uppercase;
			}
		}
		.fanpage{
			padding:10px;
		}
	}
}
}
//////////////////////
// category style
.content{
	.BreadCrumb{
		ul{
			li{
				display:inline-block;
					color:#888888;
				a{
					color:#888888;
					font-size:13px;
					&:hover{
						color:#ed2b73;
					}
				}
			}
		}
	}
	.side-bar{
		.list-ct{
			border:1px solid #eee;
			margin-bottom:15px;
			.title{
				text-align:center;
				border-bottom:1px solid #eee;
				padding:10px;
				h3{
					font-size:17px;
					font-weight:bold;
					text-transform:uppercase;

				}
			}
			ul{
				// padding-:15px;
				li{
					    list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAIAAABGNLJTAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABeSURBVChTY/jy4xfxiJ6qP3759vjpMyCJJg5B6KqBSs+dO3f12jWsGrC45OHjJ7g0YHc3RMO169fRNOD05c3bt8+cOXP3/gNkQYrNJsHdpIUJUBEJ4Y0fDRbVP34BAPydrxYYOf6OAAAAAElFTkSuQmCC');
					    a{
					    	color:#333;
					    	font-size:13px;
					    	&:hover{
					    		color:#ed2b73;
					    	}
					    }
				}
			}
			.item{
				padding:10px;
				.product{
					&:hover{
						.hidden-item{
							opacity:1;
						}
					}
						padding:10px;
						width:100%;
						// border:1px solid #c2c2c2;
						background:#fff;
						margin-right:-1px;
						margin-bottom:-1px;
						position:relative;
						.image{
							height:196px;
							img{
								width:100%;
								max-height:100%;
							}
							overflow:hidden;
						}
						.title{
							margin-top:10px;
							font-size: 15px;
							line-height: 1.3;
							width: 100%;
							height: 50px;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							display: -webkit-box;
							overflow: hidden;
							a{
								color:#333333;
								&:hover{
										color: #ed2b73;
								}

							}
						}
						.price{
							font-size: 17px;
							color: #ed2b73;
							font-weight:bold;
						}
						.hidden-item{
								width:100%;
								text-align:center;
								margin:auto;
								width:100%;
								position:absolute;
								top:30%;
								// display:hidden;
								opacity:0;
								 transition: all 0.3s;
								 left:-20px;
								 ul{
								 	width:100%;
								 	text-align:center;
								 }
								.icon-it{
									display:inline-block;
									width:30px;
									height:30px;
									line-height: 30px;
									background:rgba(0,0,0,.8);
									border-radius:50%;
									text-algin:center;
									color:#fff;
									margin:1px;
									transition: all 0.3s;
									
									a{
										color:#fff;
									}
								}
						}
					}
			}
		}
	}
	.ct-right {
		.title-ct{
			margin-bottom:10px;
			.title{
				a{
					font-weight:bold;
					font-size:17px;
					color:#333;
					text-transform: uppercase;
				}
			}
			.sortby{
				.sort-by{
					float:right;
				}
				.left{
				    float: left;
				    display: block;
				    margin-right: 10px;
				    line-height: 30px;
				}
				ul{
					margin: 0;
				    padding: 0;
				    list-style: none;
				    display: inline;
					li{
						background: #fff;
					    margin: 0 auto;
					    padding: 5px 10px;
					    position: relative;
					    width: 150px;
					    float: left;
					    color: #333;
					    border: 1px solid #F3F3F3;
					    &:hover{
					    	ul{
					    		 filter: alpha(opacity=0);
							    -khtml-opacity: 1;
							    -moz-opacity: 1;
							    opacity: 1;
					    	}
					    }
						ul{
							    position: absolute;
							    // visibility: hidden;
							    filter: alpha(opacity=0);
							    -khtml-opacity: 0;
							    -moz-opacity: 0;
							    opacity: 0;
							    left: -1px;
							    top: 27px;
							    background: #F8F8F8;
							    z-index: 10000;
							    border: 1px solid #F0F0F0;
							    li{
							    	    width: 150px;
									    margin-top: 0;
									    border-top: none;
									    border-right: none;
									    border-left: none;
									    text-align: left;
									    a{
									    	    color: #333333;
									    	    &:hover{
									    	    	color:#ed2b73;
									    	    }
									    }
							    }
						}
					}
				}
			}
		}
		.item{
				// padding:10px;
					// border:1px solid red;
				margin-bottom:15px;
				.product{
					// border:1px solid red;

					&:hover{
						.hidden-item{
							opacity:1;
						}
						box-shadow: 0 6px 12px rgba(0,0,0,.175);
					}
						padding:10px;
						width:100%;
						// border:1px solid #c2c2c2;
						background:#fff;
						margin-right:-1px;
						margin-bottom:-1px;
						position:relative;
						.image{
							height:196px;
							img{
								width:100%;
								max-height:100%;
							}
							overflow:hidden;
						}
						.title{
							margin-top:10px;
							font-size: 15px;
							line-height: 1.3;
							width: 100%;
							height: 50px;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							display: -webkit-box;
							overflow: hidden;
							a{
								color:#333333;
								&:hover{
										color: #ed2b73;
								}

							}
						}
						.price{
							font-size: 17px;
							color: #ed2b73;
							font-weight:bold;
						}
						.hidden-item{
								width:100%;
								text-align:center;
								margin:auto;
								width:100%;
								position:absolute;
								top:30%;
								// display:hidden;
								opacity:0;
								 transition: all 0.3s;
								 left:-20px;
								 ul{
								 	width:100%;
								 	text-align:center;
								 }
								.icon-it{
									display:inline-block;
									width:30px;
									height:30px;
									line-height: 30px;
									background:rgba(0,0,0,.8);
									border-radius:50%;
									text-algin:center;
									color:#fff;
									margin:1px;
									transition: all 0.3s;
									
									a{
										color:#fff;
									}
								}
						}
					}
			}
	}
}


///style intro
.content{
	.intro{
		background: url('../images/bg_sing_practice.png') top left repeat;
   		 padding: 10px;
   		 .nd{
   		 	background:#fff;
   		 	padding:10px;
   		 }
	}
	.right-side-bar{
			
   			 .ct{
   			 	background: url('../images/bg_sing_practice.png') top left repeat;
   			 padding: 10px;
			 .nd{
			   		 	background:#fff;
			   		 	padding:10px;
			   		 	.title{
			   		 		h3{
			   		 			font-size:18px;
			   		 			color:#333;
			   		 			text-align:center;
			   		 		}
			   		 	}
			   		 	.list-news{
			   		 		ul{
			   		 			padding-left:10px;
			   		 			li{
			   		 				list-style-image: url('../images/r7.png');
			   		 				a{
			   		 					color:#333;
			   		 					&:hover{
			   		 						color: #ed2b73;
			   		 					}
			   		 					font-size:15px;
			   		 				}
			   		 			}
			   		 		}
			   		 	}
			   	 }
   			 }
	}
}

// style product_detail
#gal1{
	margin-top:30px !important;
}
.image-active{
	max-width:100% !important;
	// margin-bottom:10px;
}

.product-row{
	background:#fff;
	padding:2px;
	.left-pr{
		// padding:10px;
		padding:0px;
	}
	.right-pr{
		.padding:10px;
	// border:1px solid red;
		.title{
			
				text-transform:uppercase;
				font-size:17px;
				font-weight:bold;
				margin-top:10px;
		}
		.msp{
			color:#c2c2c2;
		}
	.price{
		color: #ed2b73;
		font-weight:bold;
		font-size:24px;
	}
	.quanlity{
		.qlt{
			font-size:14px;
		}
		.quanlity-box{
			.qlt-text{
				width:50px;
				text-align:center;
				border:1px solid #eee;
				margin:0px;	
			}
			.qlt-bt{
				background:none;
				border:1px solid #eee;
				width:30px;
				margin:0px;
			}
		}
	}
	.shipping{
		p{
			font-size:13px;
		}
		.icon-dv1{
			background:url('../images/icon-serv-1.png') top center no-repeat;
		}
			.icon-dv2{
			background:url('../images/icon-serv-2.png') top center no-repeat;
		}
		
	}
	.infor-pr{
			border-right:1px solid #eee;
	}
	.button-pr{
		margin-top:10px;
		.bt-pr{
			width:150px;
			height:40px;
			border-radius:20px;
			background:none;
			border:1px solid #ed2b73;
			color:#ed2b73;
			font-weight:bold;
			text-transform:uppercase;
			font-size:14px;
			&:hover{
				background:#ed2b73;
				color:#fff;
			}
		}
	}
	.pd_saler{
		margin-top:10px;
		h3{
			font-size: 17px;
    color: #5a5a5a;
    padding-bottom: 10px;
    font-weight:bold;
		}
		p{
			    display: block;
			    width: 100%;
			    padding-left: 25px;
			    background:url('../images/check-ser.png') left top 5px no-repeat;
			    padding-bottom: 8px;
			    color: #000;
			    font-size:14px;
		}
	}
}
}
.title-pr-detail{
	display:block;
	max-width:250px;
	font-size:17px;
	text-transform:uppercase;
	margin-top:10px;
	margin-bottom:10px;
	border-bottom:2px solid #ed2b73;
	font-weight:bold;

}
.product-deital{
	background:#fff;
	padding:10px;
}
//style contact
.contact{
	.text-input{
		max-width:100%;
		margin-top:10px;
	}
	.bt-sm{
		margin-top:10px;
			width:150px;
			height:40px;
			border-radius:20px;
			background:none;
			border:1px solid #ed2b73;
			color:#ed2b73;
			font-weight:bold;
			text-transform:uppercase;
			font-size:14px;
			cursor:pointer;
			&:hover{
				background:#ed2b73;
				color:#fff;
			}
		}
}
//new style
.content{
	.item-new{
		// border:1px solid red;
		margin-bottom:20px;

		.item{
			// border:1px solid red;
			padding:5px;
			background:#fff;
					box-shadow: 0 6px 12px rgba(0,0,0,.175);

			.img{
				min-height:150px;
				// border:1px solid blue;
				.img-news{
				max-width:100%;
				}
			}
			.title{
				overflow:hidden;
				height:50px;
				a{
					font-size:13px;
					font-weight:bold;
					color:#333;
				}
			}
			.create_by{
				color:#c2c2c2;
				font-size:12px;
			}
			.short-des{
				font-size:12px;
				color:#333;
				height:50px;
				overflow:hidden;
			}
			.bl-date{
				font-size:13px;
				.fa{
					    color: #ed2b73;
				}
			}
			
		}
	}
}
// news deital
.news_detail{
	.title{
		font-size:17px;

	}
	.text-input{
		width:100%;
	}
	.date_time{
		font-size:14px;
	}
	.comment{
		.comment-it{
			border-bottom:1px solid #eee;
			.item{
				border-bottom:1px solid #eee;
				margin-bottom:10px;
				.name{
					font-weight:bold;

				}
				.date{
					font-size:12px;
				}
			}
		}
		label{
			font-size:14px;
			color:#333;
			font-weight:bold;
		}
		textarea{
			height:100px;
		}
		.bt-sm{
		margin-top:10px;
		margin-left:20px;
			width:100px;
			height:40px;
			border-radius:20px;
			background:none;
			border:1px solid #ed2b73;
			// color:#ed2b73;
			font-weight:bold;
			text-transform:uppercase;
			font-size:14px;
			cursor:pointer;
			background:#ed2b73;
			color:#fff;
			&:hover{
				background:#fff;
				color:#ed2b73;
			}
	}
	}
	
}

//gio hang
.cart-div{
	.title{
		margin-top:10px;
		h3{
			border-bottom:2px solid #ed2b73;
			font-size:18px;
				color:#ed2b73;
				font-weight:bold;
		}
	}
	.list-order{
		table{
			width:100%;
			border:1px solid #eee;
			thead{
				text-align:center;
				border-bottom:2px solid #ed2b73;
				font-weight:bold;
				font-size:12px;
				.tt-name{
					width:50%;
				}
			}
		}
	}
	.body_table{
		text-align:center;
		.item{
			border-bottom:1px solid #eee;
			// padding:5px;

				.image-sp{
			img{
				max-width:100%;
			}
		}
		.name-sp{
			.name{
				font-size:12px;
			}
			.del{
				a{
					color:#ed2b73;
					font-size:12px;
				}
			}
		}
		.price{
			color:#ed2b73;
		}
		.quanlity{
			.quanlity-box{
				.qlt-text{
					width:50px;
					text-align:center;
					border:1px solid #eee;
					margin:0px;	
				}
				.qlt-bt{
					background:none;
					border:1px solid #eee;
					width:30px;
					margin:0px;
				}

			}
		}
		}
	
	}
	.total-price{
		.price{
			color:#ed2b73;
		}
		.bt-tt{

		}
	}
	.bt-tt{
			margin-top:10px;
		// margin-left:20px;
			width:100%;
			height:40px;
			// border-radius:20px;
			background:none;
			border:1px solid #ed2b73;
			// color:#ed2b73;
			font-weight:bold;
			text-transform:uppercase;
			font-size:14px;
			cursor:pointer;
			background:#ed2b73;
			color:#fff;
			&:hover{
				background:#fff;
				color:#ed2b73;
			}
	}
	.pd_saler{
		margin-top:10px;
		h3{
			font-size: 17px;
    color: #5a5a5a;
    padding-bottom: 10px;
    font-weight:bold;
		}
		p{
			    display: block;
			    width: 100%;
			    padding-left: 25px;
			    background:url('../images/check-ser.png') left top 5px no-repeat;
			    padding-bottom: 8px;
			    color: #000;
			    font-size:14px;
		}
	}
}

//check out
.checkout{
	background:#fff;
	// margin-top:10px;
	// padding:10px;
	.tt-ckeckout{
		margin-top:10px;
		// border:1px solid #eee;
			font-size:17px;
			font-weight:bold;
			// color:red;
		
	}
	.text-input{
		margin-bottom:10px;
	}
	.item{
		// padding:10px;
		border:1px solid #eee;
		padding:10px;
		height:100px;
		border-radius:5px;
		.left{
			float:left;
			margin-right:10px;
		}
	}
}
.left-checkout{
	padding-left:30px;
}
.right-checkout{
	background:#eee;
	// padding:10px;
	.tt-cout{
		border-bottom:1px solid #c2c2c2;
		margin-bottom:5px;
		padding-bottom:5px;
		.img-sp{
			img{
				max-width:100%;
			}
		}
	}
	.name-pr{
		font-size:12px;
	}
	.price{
		color:#ed2b73;
		font-size:14px;
	}
	.mgg{
		border-bottom:1px solid #c2c2c2;
	}
	.total{
		.left{
			font-weight:bold;
		}
		.right{
			color:#ed2b73;
		}
	}
}
// login
.div-login{
	margin-top:10px;
	h3{
		text-align:center;
		font-weight:bold;
		font-size:17px;
	}
	.text-input{
		// width:300px;
		margin:auto;
		margin-bottom:10px;
	}
}

//modal xem nhanh
#modal-xemnhanh{
	.modal-header{
		background:#ed2b73;
		h5{
			color:#fff !important;
		}
		text-transform:uppercase;
		font-size:18px;
	}
	.modal-xemnhanh{
		.image-pr{
			img{
				max-width:100% !important;
			}
		}
		.price{
			color:#ed2b73;

		}
			.title{
				h3{
					font-size:18px;
					font-weight:bold;
				}
			}
			.short-dest{
				font-size:12px;
			}
			.quality{
				width:100px;
			}
	}
	.modal-footer{
		.addcarbt{
				background:#ed2b73 !important;
				border:none !important;
				cursor:pointer;

		}
		.xct{
			color:#ed2b73;
		}
	}
}
@media screen and (min-width:1024px){
#modal-xemnhanh{
		.modal-dialog{
		max-width:1000px !important;
}
}

}
.hidden-item {
	display:none;
	@media screen and(min-width:1024px){
		display:block;
	}
}